/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Vermin Vibes Regular";
src:url("vermin_vibes.eot?") format("eot"),
url("vermin_vibes.woff") format("woff"),
url("vermin_vibes.ttf") format("truetype"),
url("vermin_vibes.svg#Vermin-Vibes") 
format("svg");font-weight:normal;font-style:normal;}



@font-face {
    font-family: 'VerminVibes';
    src: url('fonts/Vermin Vibes 2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}